<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%= htmlWebpackPlugin.tags.headTags %>
</head>
<body>
  <div id="app">
    <self-hello-world></self-hello-world>
    <self-button type="primary" @click="handleClick">点我</self-button>
  </div>
  <script src="/lib/vue.js"></script>
  <%= htmlWebpackPlugin.tags.bodyTags %>
  <script>
    var app = new Vue({
      el: '#app',
      methods: {
        handleClick(event) {
          console.log('self-button-click', event)
        }
      }
    })
  </script>
</body>
</html>